@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 98%);
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
}

header{
    text-align: center;
    color: hsl(234, 12%, 34%);
}

.title{
    margin-top: 100px;
    margin-bottom: 6px;
    font-weight: 100;
    color: hsl(234, 12%, 34%);
}

.paragraph{
    margin-top: 15px;
    color: hsl(229, 6%, 66%);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.square{
    max-width: 300px;
    padding: 20px;
    background-color: #ffff;
    border-radius: 5px;
}

.square-title{
    margin-bottom: 10px;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    font-size: 19px;
}

.square-paragraph{
    font-weight: 200;
    color: hsl(229, 6%, 66%);
    font-size: 13px;
}

.supervisor{
    margin: 110px 0 110px 0;
    box-shadow: 0 -5px 1px -1px hsl(180, 62%, 55%),  6px 15px 15px hsla(234, 12%, 34%,0.1);
}

.builder{
    box-shadow: 0 -5px 1px -1px hsl(0, 78%, 62%), 6px 15px 15px hsla(234, 12%, 34%,0.1);
}

.karma{
    box-shadow: 0 -5px 1px -1px hsl(34, 97%, 64%),  6px 15px 15px hsla(234, 12%, 34%,0.1);
}

.calculator{
    margin: 110px 0 110px 0;
    box-shadow: 0 -5px 1px -1px hsl(212, 86%, 64%),  6px 15px 15px hsla(234, 12%, 34%,0.1);
}


img{
    width: 40px;
    margin-top: 40px;
}

.image{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}














